{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      {% block title %}
        Director
      {% endblock title %}
    </title>
    {% include "meta.html" %}

    {% block head %}
      <link rel="stylesheet"
            href="{% static "tailwind/build.css" %}"
            type="text/css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet">
      <script defer
              src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.8/cdn.js"
              integrity="sha512-9pBoQWH5nbYAzoNQy3KkxHn6UDIEfuz7VGPb++0kkcPHaYbe/Obfbd1F2dNbJ1lfuAPQ52Y3Lw1QFO3za2Bxug=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"
              integrity="sha512-2kIcAizYXhIn8TzUvqzEDZNuDZ+aW7yE/+f1HJHXFjQcGNfv1kqzJSTBRBSlOgp6B/KZsz1K0a3ZTqP9dnxioQ=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
      <script src="{% static "general/directorlib.js" %}"></script>
      {% django_htmx_script %}
    {% endblock %}
  </head>
  <body>
    {% block outside_main %}{% endblock %}
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
