{% load static %}

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}
        Director
      {% endblock title %}
    </title>
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "tailwind/build.css" %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
          rel="stylesheet">
    {% block head %}
      <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/fontawesome.min.css"
            integrity="sha512-lauN4D/0AgFUGvmMR+knQnbOADyD/XuQ8VF18I8Ll0+TLvsujshyxvU+uzogmQbSq6qJd5jnUdYtK8ShxXMlSg=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
              integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"></script>
    {% endblock %}
    <script>
      /**
      * Populates the navbar with the appropriate active classes
      */
      function setActiveNavbar() {
        $("#navbar-sections").children().each(function(_, el) {
          const section = $(this).html().toLowerCase();
          if (window.location.href.includes(section)) {
            $(this).addClass("text-white");
            $(this).attr("aria-current", "page");
            console.debug(`Currently in the ${section} app.`);
          } else {
            $(this).addClass("text-gray-300 hover:bg-gray-700 hover:text-white");
          }

          const mobile_el = $(this).clone();
          mobile_el.removeClass("text-sm").addClass("block");
          $("#mobile-menu-dashboard").append(mobile_el);

        });
      }

      /**
      * Toggles the profile options dropdown on the user.
      */
      function toggleProfileOptions() {
        const options = $("#user-menu");
        options.toggle(200);
        // accessibility
        options.children(":first").focus();
        if(options.attr("aria-expanded") === "true") {
          options.attr("aria-expanded", "false");
        } else {
          options.attr("aria-expanded", "true");
        }
      }

      /**
      * Toggle the sidebar on mobile
      */
      function toggleMobileMenu() {
        const menu = $("#mobile-menu");
        menu.toggle(200);
        if(menu.attr("aria-expanded") === "true") {
          menu.attr("aria-expanded", "false");
        } else {
          menu.attr("aria-expanded", "true");
        }
      }

      $(function() {
        setActiveNavbar();

        $("#user-menu-button").on("click", toggleProfileOptions);

        $("#mobile-menu-button").on("click", toggleMobileMenu);
      })
    </script>
  </head>
  <body>
    <nav class="bg-gray-800">
      <div class="px-2 mx-auto max-w-7xl sm:px-6 lg:px-8">
        <div class="flex relative justify-between items-center h-16">
          <div class="flex absolute inset-y-0 left-0 items-center align-middle sm:hidden">
            <!-- Mobile menu button-->
            <button type="button"
                    class="inline-flex relative justify-center items-center p-2 text-gray-400 rounded-md hover:text-white hover:bg-gray-700 focus:ring-2 focus:ring-inset focus:ring-white focus:outline-none"
                    id="mobile-menu-button"
                    aria-controls="mobile-menu"
                    aria-expanded="false">
              <span class="absolute -inset-0.5"></span>
              <span class="sr-only">Open main menu</span>
              <!--
                  Icon when menu is closed.

                  Menu open: "hidden", Menu closed: "block"
                -->
              <svg class="block size-6"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   aria-hidden="true"
                   data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
              <!--
                  Icon when menu is open.

                  Menu open: "block", Menu closed: "hidden"
                -->
              <svg class="hidden size-6"
                   fill="none"
                   viewBox="0 0 24 24"
                   stroke-width="1.5"
                   stroke="currentColor"
                   aria-hidden="true"
                   data-slot="icon">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="flex flex-1 justify-center items-center sm:justify-start sm:items-center">
            <div class="flex items-center shrink-0">
              <span class="px-3 text-cyan-600 scale-150"><i class="fa-solid fa-cubes"></i></span>
              <p class="py-2 text-xl font-medium text-gray-300">Director</p>
            </div>
            <div class="hidden sm:block sm:ml-6">
              <div class="flex items-center space-x-4" id="navbar-sections">
                <!-- Highlighting and adding some other classes is done via javascript -->
                <a href="{% url 'sites:index' %}"
                   class="py-2 px-3 text-sm font-medium rounded-md">Sites</a>
                {% if request.user.is_superuser %}
                  <a href="#" class="py-2 px-3 text-sm font-medium rounded-md">Operations</a>
                {% endif %}
                {# TODO: Change jasongrace2282 to tjcsl when ownership is transferred #}
                <a href="https://jasongrace2282.github.io/director5"
                   class="py-2 px-3 text-sm font-medium rounded-md">Docs</a>
              </div>
            </div>
          </div>
          {% if request.user.is_authenticated %}
            <div class="flex hidden overflow-hidden mx-auto max-w-md rounded-md border-2 border-blue-500 md:inline-flex">
              <input type="search"
                     placeholder="Search for site..."
                     class="py-3 px-4 w-full text-sm text-gray-600 bg-white rounded-sm outline-none">
              <button type='button'
                      class="flex justify-center items-center px-5 bg-[#007bff]">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 192.904 192.904"
                     width="16px"
                     class="fill-white">
                  <path d="m190.707 180.101-47.078-47.077c11.702-14.072 18.752-32.142 18.752-51.831C162.381 36.423 125.959 0 81.191 0 36.422 0 0 36.423 0 81.193c0 44.767 36.422 81.187 81.191 81.187 19.688 0 37.759-7.049 51.831-18.751l47.079 47.078a7.474 7.474 0 0 0 5.303 2.197 7.498 7.498 0 0 0 5.303-12.803zM15 81.193C15 44.694 44.693 15 81.191 15c36.497 0 66.189 29.694 66.189 66.193 0 36.496-29.692 66.187-66.189 66.187C44.693 147.38 15 117.689 15 81.193z">
                  </path>
                </svg>
              </button>
            </div>
            <div class="flex absolute inset-y-0 right-0 items-center pr-2 sm:static sm:inset-auto sm:pr-0 sm:ml-6">
              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button type="button"
                          class="flex relative text-sm bg-gray-800 rounded-full"
                          id="user-menu-button"
                          aria-expanded="false"
                          aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <p class="text-white">{{ request.user }}</p>
                  </button>
                </div>
                <!--
                    Dropdown menu, show/hide based on menu state.

                    Entering: "transition ease-out duration-100"
                      From: "transform opacity-0 scale-95"
                      To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                      From: "transform opacity-100 scale-100"
                      To: "transform opacity-0 scale-95"
                  -->
                <div id="user-menu"
                     class="hidden absolute right-0 z-10 py-1 mt-2 w-48 bg-white rounded-md ring-1 shadow-lg origin-top-right focus:outline-none ring-black/5"
                     role="menu"
                     aria-orientation="vertical"
                     aria-labelledby="user-menu-button"
                     tabindex="-1">
                  <!-- Active: "bg-gray-100 outline-none", Not Active: "" -->
                  <a href="{% url 'auth:logout' %}"
                     class="block py-2 px-4 text-sm text-gray-700"
                     role="menuitem"
                     tabindex="-1"
                     id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="hidden sm:hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1" id="mobile-menu-dashboard">
          <!-- Populated via javascript -->
        </div>
      </div>
    </nav>
    <main>
      {% block main %}{% endblock %}
    </main>
  </body>
</html>
