{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>

            {% block title %}
                Director
            {% endblock title %}
        </title>
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

        {% block js %}{% endblock %}

        {% block css %}
            <link rel="stylesheet" href="{% static "tailwind/build.css" %}" type="text/css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
                  rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="bg-dt-blue h-10 w-full flex justify-between">
            <div class="flex ml-1">
                <img alt="Director" src="{% static "img/favicon.ico" %}" />
                <p class="text-white text-xl mt-[0.3325rem] ml-1">Director</p>
            </div>
            <div class="flex">
                <img alt="Profile" src="{% static "img/favicon.ico" %}" />
                <p class="text-white text-md mt-1.5 ml-1 mr-1">2027user</p>
                <img alt="Logout" src="{% static "img/favicon.ico" %}" class="mr-2" />
            </div>
        </div>

        {% block main %}{% endblock %}
    </body>
</html>
