{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>

            {% block title %}
                Director
            {% endblock title %}
        </title>
        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

        {% block js %}{% endblock %}

        {% block css %}
            <link rel="stylesheet" href="{% static "tailwind/build.css" %}" type="text/css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
                  rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <div class="flex justify-between w-full h-10 bg-dt-blue">
            <div class="flex ml-1">
                <img alt="Director" src="{% static "img/favicon.ico" %}" />
                <p class="ml-1 text-xl text-white mt-[0.3325rem]">Director</p>
            </div>
            <div class="flex">
                <img alt="Profile" src="{% static "img/favicon.ico" %}" />
                <p class="mt-1.5 mr-1 ml-1 text-white text-md">2027user</p>
                <img alt="Logout" src="{% static "img/favicon.ico" %}" class="mr-2" />
            </div>
        </div>

        {% block main %}{% endblock %}
    </body>
</html>
