{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>

      {% block title %}
        Director
      {% endblock title %}
    </title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">

    {% block js %}{% endblock %}

    {% block css %}
      {% tailwind_css %}
    {% endblock %}
  </head>
  <body>

    {% block main %}{% endblock %}
  </body>
</html>
