{% extends "base_with_header.html" %}
{% load static %}

{% block title %}Create Site | Director{% endblock %}

{% block content %}
<div class="flex flex-col gap-y-4 items-center w-screen mt-22" x-data="{
 transitioning: false,
 current_step: 1,
 step_text: {
    1: 'Type of site',
    2: 'Select site purpose',
    3: 'Enter site details',
    4: 'Collaborators'
  },
 site_type: null,
 site_purpose: null,
 selected_user_ids: [],
 details_form_has_errors: true,
 prevStep() {
    const current = document.getElementById('step' + this.current_step);
    const previous = document.getElementById('step' + (this.current_step - 1));
    this.transitioning = true;

    current.classList.add('translate-x-full');

    current.addEventListener('transitionend', function handler() {
        current.classList.add('hidden');
        current.removeEventListener('transitionend', handler);
    });

    previous.classList.remove('hidden');
    requestAnimationFrame(() => {
        previous.classList.remove('-translate-x-full');
    });

    this.current_step--;
    this.transitioning = false;
 },
 nextStep() {
      {# We can't use x-show and x-transition here - it just doesn't work for conditional transitions #}
      const current = document.getElementById('step' + this.current_step);
      const next = document.getElementById('step' + (this.current_step + 1));
      this.transitioning = true;

      current.classList.add('-translate-x-full');
      current.addEventListener('transitionend', function handler() {
        current.classList.add('hidden');
        current.removeEventListener('transitionend', handler);
      });

      next.classList.remove('hidden');
        requestAnimationFrame(() => {
          next.classList.remove('translate-x-full');
      });

      this.current_step++;
      this.transitioning = false;
 },
 isNextStepAvailable() {
 // Returns true if the user can proceed to the next step, otherwise false
    switch(this.current_step) {
        case 1: return this.site_type != null;
        case 2: return this.site_purpose != null;
        case 3: return !this.details_form_has_errors;
        default: return false;
    }
 },
 getDomainName(name) {
    switch(this.site_purpose) {
        case 'user': return 'user.tjhsst.edu/' + name;
        case 'activity': return 'activities.tjhsst.edu/' + name;
        default: return name + '.sites.tjhsst.edu';
    }
 },
 getSitePurposeDescription() {
    switch (this.site_purpose) {
        case 'project':
            return 'Use this type if you are creating a site for your own project or class. It will be hosted on *.sites.tjhsst.edu.';
        case 'user':
            return 'Use this type if you want a personal webpage for yourself hosted on user.tjhsst.edu.';
        case 'activity':
            return 'Use this type to request a site for a club or activity. It will be hosted on activities.tjhsst.edu.'
        case 'other':
            return '';
        default:
            return '';
    }
 }
}">
    {# 1 = package (site type), 2 = pencil (site details like name etc.), 3 = users (collaborators), 4 = folder kanban (project type) #}
    <div class="flex mt-8">
        <img src="{% static "sites/package-circle.svg" %}" class="w-10 h-10" x-show="current_step <= 1" />
        <img src="{% static "sites/check-circle.svg" %}" class="w-10 h-10" x-show="current_step > 1" x-cloak x-transition:enter />
        <img src="{% static "sites/pipe.svg" %}" class="w-12"/>
        <img src="{% static "sites/folder-kanban-circle.svg" %}" class="w-10 h-10" x-show="current_step <= 2" />
        <img src="{% static "sites/check-circle.svg" %}" class="w-10 h-10" x-show="current_step > 2" x-cloak x-transition:enter />
        <img src="{% static "sites/pipe.svg" %}" class="w-12"/>
        <img src="{% static "sites/pencil-circle.svg" %}" class="w-10 h-10" x-show="current_step <= 3" />
        <img src="{% static "sites/check-circle.svg" %}" class="w-10 h-10" x-show="current_step > 3" x-cloak x-transition:enter />
        <img src="{% static "sites/pipe.svg" %}" class="w-12"/>
        <img src="{% static "sites/users-circle.svg" %}" class="w-10 h-10" x-show="current_step <= 4" />
        <img src="{% static "sites/check-circle.svg" %}" class="w-10 h-10" x-show="current_step > 4" x-cloak x-transition:enter />
    </div>
    <p x-text="step_text[current_step]" class="text-xl font-semibold"></p>

    <div class="overflow-hidden relative w-full h-85">
        {% include "sites/create.html.partials/site_type.html" %}
        {% include "sites/create.html.partials/site_purpose.html" %}
        {% include "sites/create.html.partials/site_details.html" %}
        {% include "sites/create.html.partials/site_collaborators.html" %}
    </div>

    <div class="flex justify-between p-4 -mt-5 w-screen lg:w-190">
        <button @click="prevStep()" x-bind:disabled="current_step === 1 || transitioning" x-bind:class="current_step === 1 ? 'opacity-50' : ''">{% lucide "circle-chevron-left" class="w-8 h-8" %}</button>
        <c-button id="next-button" @click="nextStep()" x-bind:disabled="!isNextStepAvailable() || transitioning" x-show="current_step !== 4" disabled>Next</c-button>
        <c-button hx-post="" hx-include="#site-form" x-show="current_step === 4">Create</c-button>
    </div>
</div>
{% endblock %}