{% extends "base_with_header_and_nav.html" %}
{% load static %}

{% block title %}My Sites | Director{% endblock %}

{% block content %}
    {% if sites|length == 0 %}
        <div class="flex flex-col gap-3 justify-center items-center w-screen min-h-[90vh]">
            <img src="{% static "favicon/mascot/milk-bear-crying.gif" %}" class="h-40"/>
            <p>It's lonely here... maybe make a new site?</p>
            <c-button.a href="{% url "sites:create" %}" hx-boost="true">New Site</c-button.a>
        </div>
    {% else %}
        <div class="flex flex-col gap-y-3 items-center w-screen md:block min-h-[90vh] mt-22 md:w-[83vw] md:ml-65">
            <div class="flex gap-x-2">
                <c-button.a href="{% url "sites:create" %}" hx-boost="true">New Site</c-button.a>
                <c-input class="md:!w-70" placeholder="Search your sites..."></c-input>
                <c-button class="w-9" variant="outline">{% lucide "filter" %}</c-button>
            </div>
            <div class="flex flex-wrap gap-3 justify-center py-8 md:justify-start">
                {% for site in sites %}
                    <c-card class="cursor-pointer min-w-100 max-w-100 max-h-50 min-h-50 group hover:bg-accent">
                        <c-card.header>
                            <c-card.title>{{ site.name|truncatechars:"50" }}</c-card.title>
                            <c-card.description>{{ site.description|truncatechars:"100" }}</c-card.description>
                        </c-card.header>
                        <c-card.content>
                            <c-badge class="font-mono" variant="outline">{{ site.mode|upper }}</c-badge>
                        </c-card.content>
                        <c-card.footer>
                            <div class="flex">
                                <p class="group-hover:font-semibold">Manage</p>
                                {% lucide "chevron-right" class="mt-0.5 transition-all group-hover:translate-x-1" %}
                            </div>
                        </c-card.footer>
                    </c-card>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}
