{% extends "base_with_header_and_nav.html" %}
{% load static %}

{% block title %}My Sites | Director{% endblock %}

{% block content %}
    {% if sites|length == 0 %}
        <div class="flex flex-col gap-3 justify-center items-center w-screen min-h-[90vh]">
            <img src="{% static "favicon/mascot/milk-bear-crying.gif" %}" class="h-40"/>
            <p>It's lonely here... maybe make a new site?</p>
            <c-button.a href="{% url "sites:create" %}" hx-boost="true">New Site</c-button.a>
        </div>
    {% else %}
        <div class="flex flex-col gap-y-3 items-center w-screen md:block min-h-[90vh] mt-22 md:w-[83vw] md:ml-65">
            <div class="flex gap-x-2">
                <c-button.a href="{% url "sites:create" %}" hx-boost="true">New Site</c-button.a>
                <form class="flex gap-x-2" hx-post="" hx-trigger="change, keyup changed delay:500ms" hx-target="#sites-list" hx-swap="outerHTML">
                    <c-input class="md:!w-70" placeholder="Search your sites..." name="query"></c-input>
                    <c-popover>
                        <c-popover.trigger>
                            <c-button type="button" class="w-9" variant="outline">{% lucide "filter" %}</c-button>
                        </c-popover.trigger>
                        <c-popover.content>
                            <div class="flex flex-col gap-y-2">
                                <p class="font-semibold">Filter projects</p>
                                <div class="flex">
                                    <c-checkbox id="id_served" name="served" checked/>
                                    <c-label for="id_served" class="ml-2 font-normal align-middle">Served</c-label>
                                </div>
                                <div class="flex">
                                    <c-checkbox id="id_not_served" name="not_served" checked/>
                                    <c-label for="id_not_served" class="ml-2 font-normal align-middle">Not Served</c-label>
                                </div>
                            </div>
                        </c-popover.content>
                    </c-popover>

                    <input type="submit" disabled hidden /> {# So pressing enter on the c-input does not automatically submit the form #}
                </form>
            </div>
            {% include "sites/sites.html.partials/sites_list.html" %}
        </div>
    {% endif %}
{% endblock %}
