@tailwind base;
@tailwind components;
@tailwind utilities;

.dt-btn-primary {
	@apply bg-dt-blue text-white text-[0.875rem] font-bold px-5 py-3 min-w-fit rounded-[0.25rem] focus:outline focus:outline-[#38B6FF] focus:outline-2 active:bg-blue-600 hover:bg-blue-500 cursor-pointer;
}

.dt-btn-outline {
	@apply text-[0.875rem] font-bold px-5 py-3 min-w-fit rounded-[0.25rem] focus:outline-2 active:bg-gray-300 hover:bg-gray-200 cursor-pointer outline outline-[#8B8B8B] drop-shadow-md outline-1;
}

.dt-btn-image {
	@apply active:bg-gray-300 hover:bg-gray-200 rounded-md w-fit h-fit p-1.5;
}

.dt-div-table {
	@apply flex-col items-center;
}

.dt-div-row {
	@apply flex justify-between border-2 border-l-0 border-r-0 border-b-0 border-[#E5E5E5] items-center p-1;
}

.dt-div-cell {
	@apply flex items-center;
}

.dt-input {
	@apply justify-end rounded-[0.4375rem] border-[1.5px] border-[#8B8B8B] focus:border-[#38B6FF];
}

.tooltip-arrow,
.tooltip-arrow::before {
	position: absolute;
	width: 8px;
	height: 8px;
	background: inherit;
}

.tooltip-arrow {
	visibility: hidden;
}

.tooltip-arrow::before {
	visibility: visible;
	content: "";
	transform: rotate(45deg);
}

.tooltip[data-popper-placement^="top"] > .tooltip-arrow {
	bottom: -4px;
}

.tooltip[data-popper-placement^="bottom"] > .tooltip-arrow {
	top: -4px;
}

.tooltip[data-popper-placement^="left"] > .tooltip-arrow {
	right: -4px;
}

.tooltip[data-popper-placement^="right"] > .tooltip-arrow {
	left: -4px;
}

/* This fixes an Alpine.js limitation where elements with x-cloak are shown for a split second while the page is loading */
[x-cloak] {
	@apply hidden;
}
