{% extends 'base_with_nav.html' %}
{% load static %}
{% block title %}Director: Password login{% endblock %}
{% block main %}
  <a href="{% url "auth:login" %}" class="flex mt-1">
    {% heroicon_outline "arrow-long-left" %}
    <p class="ml-1">Back</p>
  </a>
  <div class="flex flex-col justify-center items-center">
    <h2 class="text-2xl">Password login</h2>
    {% if form.errors %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
    {% if next %}
      {% if user.is_authenticated %}
        <p>
          Your account doesn't have access to this page. To proceed,
          please login with an account that has access.
        </p>
      {% else %}
        <p>Please login to see this page.</p>
      {% endif %}
    {% endif %}
    <form method="post" action="{% url 'auth:password_login' %}" class="mt-4">
      {% csrf_token %}
      <table>
        {{ form.as_table }}
      </table>
      <div class="">
        <input type="submit" value="Login" class="mt-1 w-full dt-btn">
        <input type="hidden" name="next" value="{{ next }}">
      </div>
    </form>
  </div>
{% endblock %}
