<div class="fixed flex h-full w-full bg-black/30 items-center justify-center inset-0 nc-dialog transition transition-opacity duration-200 opacity-0">
  {# The native dialog tag has limitations, such as making transitions difficult, so we don't use it #}
  <div class="bg-[#f5f5f5] md:w-[calc(27vh*2.2)] w-[36vh] h-fit drop-shadow-2xl outline outline-[#949494] rounded-md">
    <div class="flex justify-between items-center">
      <p class="font-bold lg:m-4 m-2 text-2xl nc-title-text"></p>
      <button class="dt-btn-image mr-2 nc-close-button">{% heroicon_solid "x-mark" size="25" fill="gray" %}</button>
    </div>
    <div class="outline outline-[1px] outline-[#e3e3e3]">
      <div class="p-4 nc-body-text"></div>
    </div>
    <div class="flex lg:m-4 m-2 gap-4">
      <button class="dt-btn-primary nc-accept-button">Continue</button>
      <button class="dt-btn-outline nc-close-button">Nevermind</button>
    </div>
  </div>
</div>
