<form hx-post="{% url 'auth:login' %}" hx-swap="outerHTML" hx-indicator="find .htmx-indicator" hx-disabled-elt="#submit-password-login">
  <c-card.content class="space-y-2">
    <c-form.field :errors="form.username.errors">
        <c-form.label for="id_username">Username</c-form.label>
        <c-input id="id_username" name="username" type="text" value="{{ form.username.value|default:'' }}"></c-input>
    </c-form.field>
    <c-form.field :errors="form.password.errors">
        <c-form.label for="id_password">Password</c-form.label>
        <c-input id="id_password" name="password" type="password"></c-input>
    </c-form.field>
    {% if form.non_field_errors %}
      <c-form.error>
        {{ form.non_field_errors.as_text }}
      </c-form.error>
    {% endif %}
  </c-card.content>
  <c-card.footer>
    <c-button id="submit-password-login" type="submit">
      Sign in
      <c-spinner/>
    </c-button>
    <c-input type="hidden" name="next" value="{{ next }}"></c-input>
  </c-card.footer>
</form>
