<c-command.list>
    <c-command.empty>No results found.</c-command.empty>
    <c-command.group heading="Recents">
        {# todo: implement later #}
    </c-command.group>
    <c-command.group heading="Actions">
        <c-command.item value="start">Server: Start</c-command.item>
        <c-command.item value="restart">Server: Restart</c-command.item>
        <c-command.item value="shutdown">Server: Shutdown</c-command.item>
    </c-command.group>
    <c-command.group heading="Navigation">
        {# todo: make htmx load this only on opening #}
        {% if site %}
            <c-command.item value="dashboard">Go to dashboard</c-command.item>
            <c-command.item value="database">Go to database</c-command.item>
            <c-command.item value="files">Go to files</c-command.item>
            <c-command.item value="console">Go to console</c-command.item>
            <c-command.item value="siteSettings">Go to site settings</c-command.item>
        {% endif %}
        {% if recent_sites %}
            {% for recent_site in recent_sites %}
                <c-command.item value="recentSite-{{ recent_site.id }}">Open {{ recent_site.name }}'s dashboard</c-command.item>
            {% endfor %}
        {% endif %}
        <c-command.item value="mySites">View all sites</c-command.item>
        <c-command.item value="marketplace">View marketplace</c-command.item>
        <c-command.item value="myClasses">View classes</c-command.item>
        <c-command.item value="documentation">View documentation</c-command.item>
        <c-command.item value="information">View information page</c-command.item>
        <c-command.item value="userSettings">View user settings</c-command.item>
        {% if user.is_superuser %}
            {# todo: superuser navigation #}
        {% endif %}
    </c-command.group>
</c-command.list>
